<div class="section-sm bg-color-tayyib-green">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-12 col-md-6 text-center text-md-start">
                <a href="#giris"><img class="footer-logo" width="153" height="92" src="/media/logo.webp" alt="Logo"></a>
            </div>
            <div class="col-12 col-md-6 text-center text-md-end">
                <ul class="list-unstyled">
                    <li><h5>Tayyib Besi Ömerli Şube</h5></li>
                    <li>Sırapınar Yolu Üzeri Uran Cad. No:4 Ömerli-Çekmeköy / İstanbul</li>
                    <li>Telefon: +90 553 006 53 53</li>
                </ul>
            </div>
        </div>
    </div>
</div>
