<div class="section bg-color-tayyib-green">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-12 col-md-6 text-center text-md-start">
                <h2 class="uppercase letter-spacing-1">mono</h2>
                <ul class="list-inline-dash mt-3">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Clients</a></li>
                </ul>
                <p class="mt-2">© 2023 FlaTheme, All Rights Reserved.</p>
            </div>
            <div class="col-12 col-md-6 text-center text-md-end">
                <ul class="list-unstyled">
                    <li>121 King St, Melbourne VIC 3000</li>
                    <li>contact@example.com</li>
                </ul>
                <ul class="list-inline-sm mt-3 mt-lg-4">
                    <li><a class="button-circle button-circle-sm button-circle-social-facebook" href="#"><i
                            class="bi bi-facebook"></i></a></li>
                    <li><a class="button-circle button-circle-sm button-circle-social-twitter" href="#"><i
                            class="bi bi-twitter"></i></a></li>
                    <li><a class="button-circle button-circle-sm button-circle-social-instagram" href="#"><i
                            class="bi bi-instagram"></i></a></li>
                </ul>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>