<div class="section bg-color-tayyib-green">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-12 col-md-6 text-center text-md-start">
                <a href="#giris"><img class="footer-logo" height="100px" src="/media/logo.webp" alt="Logo"></a>
            </div>
            <div class="col-12 col-md-6 text-center text-md-end">
                <ul class="list-unstyled">
                    <li><b>Tayyib Besi Ömerli Şube</b></li>
                    <li>Sırapınar Yolu Üzeri Uran Cad. No:4 Ömerli-Ümraniye / İstanbul</li>
                    <li>Telefon: +90 216 435 7032</li>
                </ul>
                <ul class="list-inline-sm mt-3 mt-lg-4">
                    <li><a href="tel:+902164357032" class="button-circle button-circle-sm button-circle-social-twitter"><i
                            class="bi bi-telephone"></i></a></li>
                </ul>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
