---
---
<div class="header right header-color-tayyib-green sticky-autohide transparent-light">
    <div class="container">
        <div class="header-logo">
            <a href="#giris">
                <img src="/media/logo.webp" width="110" height="72" alt="Logo">
            </a>
        </div>
        <div class="header-menu">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#giris">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#hakkimizda">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <button class="fm-toggle text-white">
                        Daha Fazla
                    </button>
                </li>
            </ul>
        </div>
        <button class="fm-toggle text-white d-block d-lg-none">
            Menü
        </button>
    </div>
</div>

<div class="fullscreen-menu bg-color-tayyib-green-light">
    <div class="fm-wrapper">
        <div class="position-middle">
            <div class="container">
                <div class="row g-4">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                        <ul class="list-unstyled">
                            <li class="d-block d-lg-none">
                                <h1><a class="text-link-8 fm-link" href="#giris">Ana Sayfa</a></h1>
                            </li>
                            <li class="d-block d-lg-none">
                                <h1><a class="text-link-8 fm-link" href="#hakkimizda">Hakkımızda</a></h1>
                            </li>
                            <li>
                                <h1><a class="text-link-8 fm-link" href="#hisseler">Fiyatlandırma</a></h1>
                            </li>
                            <li>
                                <h1><a class="text-link-8 fm-link" href="#iletisim">Bize Ulaş</a></h1>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button class="fm-close">
            <span></span>
        </button>
    </div>
</div>