<div class="scrolltotop">
    <a class="button-circle button-circle-md button-circle-dark scrolltotopbutton me-2" href="#"><i
            class="bi bi-arrow-up"></i></a>
    <a class="button-circle button-circle-md button-circle-social-whatsapp me-2 mb-3"
       target="_blank"
       href="https://api.whatsapp.com/send?phone=905530065353&text=Kurbanl%C4%B1k%20hisseler%20ile%20ilgili%20sorum%20var,%20Yard%C4%B1mc%C4%B1%20olabilir%20misiniz?">
        <i class="bi bi-whatsapp"></i>
    </a>
</div>