<section id="giris" class="section-fullscreen bg-image" data-bg-src="/media/background.webp"
         style="background-image: url(&quot;media/background.webp&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 0px;">
    <div class="bg-gradient-8">
        <div class="container text-center">
            <div class="position-middle">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                        <h1 class="display-4 font-family-secondary fw-normal line-height-140 m-0">Türkiye'nin en büyük
                            besi çiftliği</h1>
                    </div>
                </div>
            </div>
            <div class="position-bottom">
                <a class="icon-xl" href="#hisseler">
                    <i class="bi bi-arrow-down"></i>
                </a>
            </div>
        </div>
    </div>
</section>