<section id="iletisim" class="section bg-white pb-0">
    <a href="tel:+905340631477">
        <div class="container mb-5">
            <div class="row text-left">
                <div class="col-12 col-md-9">
                    <h1 class="font-family-secondary fw-normal">Bize Ulaşın</h1>
                    <p class="fw-light">Hisse siparişlerinizi oluşturabilmek adına bizlere ulaşın. Buranın üstüne
                        tıkladığınız anda bizlere arama otomatik olarak sağlanacaktır.</p>
                </div>
                <div class="col-12 col-md-1 offset-lg-2 d-none d-lg-flex">
                    <div class="d-flex align-items-center justify-content-center h-100 mt-4 mt-lg-0">
                        <div class="fs-2 icon-round-center">
                            <i class="bi bi-telephone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</section>
<hr class="mt-3 mb-3">