---
---
<section id="hisseler" class="section bg-color-tayyib-green sal-animate" data-sal="fade">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-10 offset-md-1">
                <h1 class="font-family-secondary fw-normal">Hisse Paketleri / Fiyatlandırma</h1>
                <p class="fw-light">80 Dönümlük çiftliğimizde profesyonel kesim hanemizde islami usüllere uygun ve
                    hijyenik ortamda kesim yapmaktayız. Alt tarafta 2023 yılı için belirlenmiş hisse fiyatlarını
                    görüntüleyebilirsiniz.</p>
            </div>
        </div>
        <div class="mt-5">
            <div class="fade show active">
                <hr class="mt-3 mb-3">
                <div class="row g-lg-5">
                    <div class="col-12 col-lg-6 index-price-border-end-light">
                        <div class="d-md-flex justify-content-between">
                            <div class="d-md-inline-block me-md-3">
                                <h5 class="font-family-secondary fw-normal m-0">Hisse 20</h5>
                                <p class="fw-light">20 ila 25 kilogram arası et. Kesim ücreti dahil fiyattır.</p>
                            </div>
                            <div class="d-md-inline-block text-md-end">
                                <h5 class="font-family-secondary fw-normal mt-2 mt-lg-0">8.000 TL</h5>
                            </div>
                        </div>
                        <hr class="mt-3 mb-3">
                        <div class="d-md-flex justify-content-between">
                            <div class="d-md-inline-block me-md-3">
                                <h5 class="font-family-secondary fw-normal m-0">Hisse 25</h5>
                                <p class="fw-light">25 ila 30 kilogram arası et. Kesim ücreti dahil fiyattır.</p>
                            </div>
                            <div class="d-md-inline-block text-md-end">
                                <h5 class="font-family-secondary fw-normal mt-2 mt-lg-0">10.000 TL</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <hr class="d-block d-lg-none">
                        <div class="d-md-flex justify-content-between">
                            <div class="d-md-inline-block me-md-3">
                                <h5 class="font-family-secondary fw-normal m-0">Hisse 30</h5>
                                <p class="fw-light">30 ila 35 kilogram arası et. Kesim ücreti dahil fiyattır.</p>
                            </div>
                            <div class="d-md-inline-block text-md-end">
                                <h5 class="font-family-secondary fw-normal mt-2 mt-lg-0">12.000 TL</h5>
                            </div>
                        </div>
                        <hr class="mt-3 mb-3">
                        <div class="d-md-flex justify-content-between">
                            <div class="d-md-inline-block me-md-3">
                                <h5 class="font-family-secondary fw-normal m-0">Hisse 35</h5>
                                <p class="fw-light">35 ila 40 kilogram arası et. Kesim ücreti dahil fiyattır.</p>
                            </div>
                            <div class="d-md-inline-block text-md-end">
                                <h5 class="font-family-secondary fw-normal mt-2 mt-lg-0">14.000 TL</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt-3 mb-3">
            </div>
        </div>
    </div>
</section>