<section id="tanitim" class="section-fullscreen bg-image" data-bg-src="/media/background.webp">
    <div class="bg-dark-07">
        <div class="container text-center">
            <div class="position-middle">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                        <h1 class="d-none">Tanıtım</h1>
                        <h2 class="display-4 font-family-secondary fw-normal line-height-140 m-0">Türkiye'nin en büyük
                            besi çiftliği</h2>
                    </div>
                </div>
            </div>
            <div class="position-bottom">
                <a class="icon-xl" href="#hisseler">
                    <i class="bi bi-arrow-down"></i>
                </a>
            </div>
        </div>
    </div>
</section>