<div class="container mb-5">
    <div class="row text-left">
        <div class="col-12 col-md-9">
            <p class="font-family-tertiary font-small uppercase text-dark-04">1998'den bugüne</p>
            <h1 class="font-family-secondary fw-normal">Hakkımızda</h1>
            <p class="fw-light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. </p>
        </div>
    </div>
</div>