---
import IndexPageSectionAboutHeader from "./IndexPageSectionAboutHeader.astro";
import IndexPageSectionAboutGallery from "./IndexPageSectionAboutGallery.astro";
---
<section id="hakkimizda" class="section bg-white pb-0">
    <IndexPageSectionAboutHeader/>
    <IndexPageSectionAboutGallery/>
</section>