<div class="container mb-5">
    <div class="row text-left">
        <div class="col-12">
            <p class="font-family-tertiary font-small uppercase text-dark-04">1995'den bugüne</p>
            <h1 class="font-family-secondary fw-normal">Hakkımızda</h1>
            <p class="fw-light">Tayyib besi çiftliği 1995 yılında İstanbul ili Ömerli mahallesinde modern ve hijyen
                faktörlerini birleştiren besi çiftliğidir. Çiftliğimiz, AB standartlarına uygun bir şekilde kurulmuştur.
                tüm süreçlerde müşteri memnuniyeti en önemli unsurdur.
                80 dönümlük çiftliğimizde 10.000 büyük başlık dana yetiştiriciliği ile sektörde hizmet vermeye devam
                etmektedir. Tayyib besi Çiftliği sektöre girdiği ilk günden, bu güne kadar birçok çiftliğe örnek teşkil
                edecek çalışmalara imza atmış ve atmaya devam edecek projeleri üretmektedir.

                Türkiye için doğru ve en güvenilir kaynak olmak adına en son teknoloji ile tasarlanmış ahırlar, depo,
                soğuk hava deposu, hayvan serbest dolaşım alanı, satış ve irtibat ofisi, hayvan hazırlama odası, uzman
                ekip ve hijyenik çalışma ortamı ile veteriner kontrolünde kesimleri ile sağlıklı hizmet anlayışına
                yönelik hizmet vermeye devam etmektedir.</p>
        </div>
    </div>
</div>