<div class="container my-5">
    <div class="portfolio-masonry column-3 spacing-2 hover-style-2" style="position: relative; height: 916.524px;">
        <div class="portfolio-item" style="position: absolute; left: 0px; top: 0px;">
            <div class="portfolio-box">
                <a class="portfolio-img lightbox-image-box hoverbox-1 border-radius icon-lg"
                   href="/media/gallery/1.webp">
                    <img src="/media/gallery/1.webp" loading="lazy" alt="Çiftliğimizdeki hayvanlarımızdan görüntüler">
                    <div class="hover-content center">
                        <i class="bi bi-arrows-fullscreen"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-item" style="position: absolute; left: 0px; top: 0px;">
            <div class="portfolio-box">
                <a class="portfolio-img lightbox-image-box hoverbox-1 border-radius icon-lg"
                   href="/media/gallery/2.webp">
                    <img src="/media/gallery/2.webp" loading="lazy" alt="Kesimhanemiz">
                    <div class="hover-content center">
                        <i class="bi bi-arrows-fullscreen"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-item" style="position: absolute; left: 0px; top: 0px;">
            <div class="portfolio-box">
                <a class="portfolio-img lightbox-image-box hoverbox-1 border-radius icon-lg"
                   href="/media/gallery/3.webp">
                    <img src="/media/gallery/3.webp" loading="lazy" alt="Kesimhanemiz">
                    <div class="hover-content center">
                        <i class="bi bi-arrows-fullscreen"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-item" style="position: absolute; left: 0px; top: 0px;">
            <div class="portfolio-box">
                <a class="portfolio-img lightbox-image-box hoverbox-1 border-radius icon-lg"
                   href="/media/gallery/4.webp">
                    <img src="/media/gallery/4.webp" loading="lazy" alt="Kesimhanemiz">
                    <div class="hover-content center">
                        <i class="bi bi-arrows-fullscreen"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-item" style="position: absolute; left: 0px; top: 0px;">
            <div class="portfolio-box">
                <a class="portfolio-img lightbox-image-box hoverbox-1 border-radius icon-lg"
                   href="/media/gallery/5.webp">
                    <img src="/media/gallery/5.webp" loading="lazy" alt="Kesimhanemiz">
                    <div class="hover-content center">
                        <i class="bi bi-arrows-fullscreen"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-item" style="position: absolute; left: 0px; top: 0px;">
            <div class="portfolio-box">
                <a class="portfolio-img lightbox-image-box hoverbox-1 border-radius icon-lg"
                   href="/media/gallery/6.webp">
                    <img src="/media/gallery/6.webp" loading="lazy" alt="Çiftliğimizdeki hayvanlarımızdan görüntüler">
                    <div class="hover-content center">
                        <i class="bi bi-arrows-fullscreen"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-item" style="position: absolute; left: 0px; top: 0px;">
            <div class="portfolio-box">
                <a class="portfolio-img lightbox-image-box hoverbox-1 border-radius icon-lg"
                   href="/media/gallery/7.webp">
                    <img src="/media/gallery/7.webp" loading="lazy"
                         alt="Kurban bayramı esnasındaki kesimlerden görüntüler">
                    <div class="hover-content center">
                        <i class="bi bi-arrows-fullscreen"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-item" style="position: absolute; left: 0px; top: 0px;">
            <div class="portfolio-box">
                <a class="portfolio-img lightbox-image-box hoverbox-1 border-radius icon-lg"
                   href="/media/gallery/8.webp">
                    <img src="/media/gallery/8.webp" loading="lazy"
                         alt="Kurban bayramı esnasındaki kesimlerden görüntüler">
                    <div class="hover-content center">
                        <i class="bi bi-arrows-fullscreen"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>