.about-redirect-icon {
    height: 100%;
    width: 100%;
    max-height: 80px;
    transition: 0.3s ease all;
}

.about-redirect-icon:hover {
    padding: 10px;
    transition: 0.3s ease all;
}

@media (max-width: 768px) {
    .about-redirect-icon {
        max-height: 50px;
    }
}

.index-price-border-end-light {
    border-right: 1.5px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .index-price-border-end-light {
        border: none;
    }
}

.footer-logo {
    height: 100px;
}

.icon-round-center {
    border-radius: 100%;
    width: 68px;
    height: 68px;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
